{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Log In</h1>
    {% if form.errors %}
    <p>Login or password is incorrect.
        Try again.</p>
    {% else %}
    <p>Fill in form to login or if you don't have account you can create them <a href="{% url 'account:register' %}">here</a>.</p>
    {% endif %}
    <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Log In"></p>
            </form>
            <p>Forgot password? Click the <a href="{% url 'password_reset' %}">link</a>.</p>
    </div>
{% endblock %}
