{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <h1>Main Page</h1>
    <p>Welcome on main page {{ request.user.first_name }}.</p>
    {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% with total_images_created=request.user.images_created.count %}
    <p> You have added {{ total_images_created }}
        image{{total_images_created|pluralize:'s'}}.</p>
    {% endwith %}

    <p>Drag green button to your bookmarks bar. You will have chance to add
        images from other websites to your account.
    <a href="javascript:{% include 'bookmarklet_launcher.js' %}"
       class="button">Add images</a></p>
    <p>You can <a href="{% url 'account:edit' %}">edit </a>your profile or
        <a href="{% url 'password_change' %}">change </a>password.</p>
    <h3>Do you want to see the most popular images? Click the<a href="{% url 'images:image_ranking' %}"> link</a>. </h3>
    <h2>What's new?</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}
    </div>
{% endblock %}
